.buttonWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  --white: #ffe7ff;
  --bg: #080808;
  --radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 0;
  position: relative;
  border-radius: var(--radius);
  background-color: var(--bg);
  transition: all 0.2s ease;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  touch-action: manipulation;
}

.button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Keep full opacity when loading (no fade) */
.button:disabled[data-loading="true"] {
  opacity: 1;
}

.wrap {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  padding: 14px 24px;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
}

.text span:nth-child(2) {
  display: none;
}

.button:hover:not(:disabled) .text span:nth-child(1) {
  display: none;
}

.button:hover:not(:disabled) .text span:nth-child(2) {
  display: inline-block;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  white-space: nowrap;
  transition: all 0.2s ease;
  transform: translateY(2%);
  mask-image: linear-gradient(to bottom, white 40%, transparent);
}

.wrap::before,
.wrap::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
}

.wrap::before {
  left: -15%;
  right: -15%;
  bottom: 25%;
  top: -100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
}

.wrap::after {
  left: 6%;
  right: 6%;
  top: 12%;
  bottom: 40%;
  border-radius: 22px 22px 0 0;
  box-shadow: inset 0 10px 8px -10px rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.button:hover:not(:disabled) {
  box-shadow:
    inset 0 0.3rem 0.5rem rgba(255, 255, 255, 0.4),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.7),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

.button:hover:not(:disabled) .wrap::before {
  transform: translateY(-5%);
}

.button:hover:not(:disabled) .wrap::after {
  opacity: 0.4;
  transform: translateY(5%);
}

.button:hover:not(:disabled) .text {
  transform: translateY(-4%);
}

.button:active:not(:disabled) {
  transform: translateY(4px);
  box-shadow:
    inset 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.8),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.4),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

